---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-08-24T10:37:06.604-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"IAD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
[...]
- request:
    method: get
    uri: https://ord.databases.api.rackspacecloud.com/v1.0/833532/instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"instances": [{"status": "ACTIVE", "name": "decided-irony", "links":
        [{"href": "https://ord.databases.api.rackspacecloud.com:443/v1.0/833532/instances/1c651e9e-f207-44a3-8b52-0ae620f43b4f",
        "rel": "self"}, {"href": "https://ord.databases.api.rackspacecloud.com:443/instances/1c651e9e-f207-44a3-8b52-0ae620f43b4f",
        "rel": "bookmark"}], "volume": {"size": 1}, "flavor": {"id": "1", "links":
        [{"href": "https://ord.databases.api.rackspacecloud.com:443/v1.0/833532/flavors/1",
        "rel": "self"}, {"href": "https://ord.databases.api.rackspacecloud.com:443/flavors/1",
        "rel": "bookmark"}]}, "id": "1c651e9e-f207-44a3-8b52-0ae620f43b4f"}, {"status":
        "ACTIVE", "name": "dancing-idol", "links": [{"href": "https://ord.databases.api.rackspacecloud.com:443/v1.0/833532/instances/5b6331b6-6130-407f-8d15-ddc4c8b1bde6",
        "rel": "self"}, {"href": "https://ord.databases.api.rackspacecloud.com:443/instances/5b6331b6-6130-407f-8d15-ddc4c8b1bde6",
        "rel": "bookmark"}], "volume": {"size": 1}, "flavor": {"id": "1", "links":
        [{"href": "https://ord.databases.api.rackspacecloud.com:443/v1.0/833532/flavors/1",
        "rel": "self"}, {"href": "https://ord.databases.api.rackspacecloud.com:443/flavors/1",
        "rel": "bookmark"}]}, "id": "5b6331b6-6130-407f-8d15-ddc4c8b1bde6"}]}'
  recorded_at: Fri, 23 Aug 2013 17:26:05 GMT
- request:
    method: get
    uri: https://ord.databases.api.rackspacecloud.com/v1.0/833532/instances/1c651e9e-f207-44a3-8b52-0ae620f43b4f/databases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"databases": [{"name": "dancing-bear"}]}'
  recorded_at: Fri, 23 Aug 2013 17:26:07 GMT
recorded_with: VCR 2.5.0
