---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-08-24T10:37:06.604-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"IAD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
[...]
- request:
    method: get
    uri: https://ord.loadbalancers.api.rackspacecloud.com/v1.0/833532/loadbalancers.json?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"loadBalancers":[{"name":"laughing-barrel","id":177993,"protocol":"HTTP","port":80,"algorithm":"RANDOM","status":"PENDING_UPDATE","timeout":30,"created":{"time":"2013-08-16T18:51:30Z"},"virtualIps":[{"address":"50.56.52.98","id":1545,"type":"PUBLIC","ipVersion":"IPV4"},{"address":"2001:4801:7901:0000:aa50:10b5:0000:0001","id":9138799,"type":"PUBLIC","ipVersion":"IPV6"}],"updated":{"time":"2013-08-23T16:56:56Z"},"nodeCount":2},{"name":"likable-bear","id":185613,"protocol":"HTTP","port":80,"algorithm":"RANDOM","status":"ACTIVE","timeout":30,"created":{"time":"2013-08-23T16:54:37Z"},"virtualIps":[{"address":"50.56.49.156","id":2366,"type":"PUBLIC","ipVersion":"IPV4"},{"address":"2001:4801:7901:0000:aa50:10b5:0000:0002","id":9145647,"type":"PUBLIC","ipVersion":"IPV6"}],"updated":{"time":"2013-08-23T16:54:55Z"},"nodeCount":1}]}'
  recorded_at: Fri, 23 Aug 2013 16:57:02 GMT
- request:
    method: get
    uri: https://ord.loadbalancers.api.rackspacecloud.com/v1.0/833532/loadbalancers/177993/nodes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nodes":[{"address":"166.78.114.25","id":433675,"type":"PRIMARY","port":80,"status":"ONLINE","condition":"ENABLED"},{"address":"198.61.221.220","id":444985,"type":"PRIMARY","port":80,"status":"ONLINE","condition":"ENABLED"}]}'
  recorded_at: Fri, 23 Aug 2013 16:57:02 GMT
- request:
    method: delete
    uri: https://ord.loadbalancers.api.rackspacecloud.com/v1.0/833532/loadbalancers/177993/nodes/444985
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 202
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Aug 2013 16:57:03 GMT
recorded_with: VCR 2.5.0
