---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-08-24T10:37:06.604-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"IAD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers
    body:
      encoding: UTF-8
      string: '{"server":{"name":"silly-saffron","imageRef":"6a668bb8-fb5d-407a-9a89-6f957bced767","flavorRef":2,"minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1093dea8-5fbb-44fa-9c4d-d9087e51cc6d
    body:
      encoding: UTF-8
      string: '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "47931aed-1e33-4ea3-b95b-6975c23889d8",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "bookmark"}], "adminPass": "c4ojhCjRDL2s"}}'
  recorded_at: Fri, 23 Aug 2013 17:03:58 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-04354add-fb7d-4ab9-a4e5-50fcf208b225
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-08-23T17:03:58Z", "hostId":
        "", "addresses": {}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "47931aed-1e33-4ea3-b95b-6975c23889d8", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-08-23T17:03:58Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Fri, 23 Aug 2013 17:03:58 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-62db6261-b77e-4ea2-8682-70a9630d96e7
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-08-23T17:04:26Z", "hostId":
        "bbb8a9cd285dcab988f4caef514638ed0890851686e358006036d476", "addresses": {"public":
        [{"version": 4, "addr": "192.237.187.165"}, {"version": 6, "addr": "2001:4801:7821:0077:aa50:10b5:ff10:81dd"}],
        "private": [{"version": 4, "addr": "10.208.151.237"}]}, "links": [{"href":
        "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/47931aed-1e33-4ea3-b95b-6975c23889d8",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "block_device_mapping", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "47931aed-1e33-4ea3-b95b-6975c23889d8", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-08-23T17:03:58Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Fri, 23 Aug 2013 17:04:27 GMT
[...]
