---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-08-24T10:37:06.604-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"IAD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
- request:
    method: get
    uri: https://storage101.ord1.clouddrive.com/v1/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      X-Account-Object-Count:
      - '1'
      X-Timestamp:
      - '1369948054.81091'
      X-Account-Meta-Temp-Url-Key:
      - 2938b7d98f4884249d2de23929ee3e18
      X-Account-Bytes-Used:
      - '56'
      X-Account-Container-Count:
      - '2'
      Content-Type:
      - application/json; charset=utf-8
      X-Trans-Id:
      - tx8ceee1c456934a24b50eb-00521793b1ord1
    body:
      encoding: UTF-8
      string: '[{"count": 1, "bytes": 56, "name": "colorful-cat"}, {"count": 0, "bytes":
        0, "name": "cruising-crouton"}]'
  recorded_at: Fri, 23 Aug 2013 16:54:09 GMT
- request:
    method: delete
    uri: https://storage101.ord1.clouddrive.com/v1/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd/cruising-crouton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 204
      message: 
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Trans-Id:
      - txdd700772d648418f8d43c-00521793b1ord1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Aug 2013 16:54:11 GMT
[...]
- request:
    method: put
    uri: https://cdn2.clouddrive.com/v1/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd/cruising-crouton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
      X-Cdn-Enabled:
      - 'False'
  response:
    status:
      code: 202
      message: 
    headers:
      X-Cdn-Ssl-Uri:
      - https://6cf18e7d4b203e330ca6-c63b697b0d511d05596537a1b9fa74d2.ssl.cf2.rackcdn.com
      X-Cdn-Ios-Uri:
      - http://dbd4c4285cb19abee965-c63b697b0d511d05596537a1b9fa74d2.iosr.cf2.rackcdn.com
      X-Cdn-Uri:
      - http://d74320569ae3be716bc5-c63b697b0d511d05596537a1b9fa74d2.r30.cf2.rackcdn.com
      Content-Type:
      - text/html; charset=UTF-8
      X-Cdn-Streaming-Uri:
      - http://b2175a4f84a55a866e8f-c63b697b0d511d05596537a1b9fa74d2.r30.stream.cf2.rackcdn.com
      X-Trans-Id:
      - txd3b625568e5c4602aa4d4-00521793b4ord1
    body:
      encoding: UTF-8
      string: <html><h1>Accepted</h1><p>The request is accepted for processing.</p></html>
  recorded_at: Fri, 23 Aug 2013 16:54:12 GMT
recorded_with: VCR 2.5.0
