---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-07-17T13:54:13.050-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudBackup","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/backup.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:backup"},{"name":"cloudBlockStorage","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/833532"}],"type":"volume"},{"name":"cloudServersOpenStack","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/syd.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/syd.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/ord.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/ord.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/dfw.servers.api.rackspacecloud.com\/","version[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers
    body:
      encoding: UTF-8
      string: '{"server":{"name":"silly-saffron","imageRef":"6a668bb8-fb5d-407a-9a89-6f957bced767","flavorRef":2,"minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-2e3b9854-ed49-444a-b22b-aee061e4909a
    body:
      encoding: UTF-8
      string: '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "bookmark"}], "adminPass": "vaYr6FX7baKE"}}'
  recorded_at: Tue, 16 Jul 2013 20:02:33 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-756c3a48-f2a3-4609-8324-70da57110119
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-07-16T20:02:34Z", "hostId":
        "", "addresses": {}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "cb397ded-fd39-4709-9ad7-d0d6a9ef461a", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-16T20:02:31Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Tue, 16 Jul 2013 20:02:34 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6fc3d02a-87b8-46d5-86f4-c3c82f90a2da
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-07-16T20:03:13Z", "hostId":
        "524b33c4e095c4b3255b2a9582a5e9491b24963948ab86b05e1f83eb", "addresses": {"public":
        [{"version": 4, "addr": "166.78.114.16"}, {"version": 6, "addr": "2001:4801:7817:0072:aa50:10b5:ff10:e898"}],
        "private": [{"version": 4, "addr": "10.177.13.47"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "spawning", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "cb397ded-fd39-4709-9ad7-d0d6a9ef461a", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-16T20:02:45Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Tue, 16 Jul 2013 20:03:16 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532//servers/cb397ded-fd39-4709-9ad7-d0d6a9ef461a/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e90f858f-8276-4081-8904-1327e15482bc
    body:
      encoding: UTF-8
      string: '{"metadata": {}}'
  recorded_at: Tue, 16 Jul 2013 20:08:16 GMT
recorded_with: VCR 2.5.0
