---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-07-10T11:14:38.381-05:00","tenant":{"id":"833532","name":"833532"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudBackup","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/backup.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:backup"},{"name":"cloudBlockStorage","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/833532"}],"type":"volume"},{"name":"cloudServersOpenStack","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/syd.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/syd.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/ord.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/ord.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/dfw.servers.api.rackspacecloud.com\/","version[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers
    body:
      encoding: UTF-8
      string: '{"server":{"name":"silly-saffron","imageRef":"9922a7c7-5a42-4a56-bc6a-93f857ae2346","flavorRef":2,"minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e8cf6bb6-66c3-4da0-b83d-5a871b664ce8
    body:
      encoding: UTF-8
      string: '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "bookmark"}], "adminPass": "CuN8Ax4NjAuV"}}'
  recorded_at: Tue, 09 Jul 2013 19:00:38 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-54eb1871-ec53-453d-be72-7741390e5453
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-07-09T19:00:39Z", "hostId":
        "", "addresses": {}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-09T19:00:36Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Tue, 09 Jul 2013 19:00:39 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-cb02ac8b-d56d-4e57-87a8-cb38f7cc6e5a
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-07-09T19:01:26Z", "hostId":
        "5e1059793b6d3418a25cf6d9912cef080e4daf8e1b1bfac15f2cfec3", "addresses": {"public":
        [{"version": 4, "addr": "166.78.114.68"}, {"version": 6, "addr": "2001:4801:7817:0072:aa50:10b5:ff10:ccfa"}],
        "private": [{"version": 4, "addr": "10.177.27.229"}]}, "links": [{"href":
        "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "spawning", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-09T19:00:48Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 8, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Tue, 09 Jul 2013 19:01:29 GMT
[...]
