---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-07-10T11:14:38.381-05:00","tenant":{"id":"833532","name":"833532"}},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-de1f6232-a0f9-4891-a073-095d9fe177a3
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2013-07-09T19:05:34Z",
        "hostId": "5e1059793b6d3418a25cf6d9912cef080e4daf8e1b1bfac15f2cfec3", "addresses":
        {"public": [{"version": 4, "addr": "166.78.114.68"}, {"version": 6, "addr":
        "2001:4801:7817:0072:aa50:10b5:ff10:ccfa"}], "private": [{"version": 4, "addr":
        "10.177.27.229"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-09T19:00:48Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "166.78.114.68", "accessIPv6":
        "2001:4801:7817:72:aa50:10b5:ff10:ccfa", "progress": 100, "OS-EXT-STS:power_state":
        1, "metadata": {}}]}'
  recorded_at: Tue, 09 Jul 2013 19:05:59 GMT
- request:
    method: delete
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/bd7c65a9-b40e-4c8d-8aaf-bb7210caccaf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 204
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d443ebc7-ad74-4ec0-9278-b7facfcb1741
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Jul 2013 19:06:02 GMT
recorded_with: VCR 2.5.0
