---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-07-26T16:43:37.806-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-fe846bab-8eb0-42ec-88a7-1dcd12356eea
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2013-07-25T21:52:25Z",
        "hostId": "4e27dd00941027b073b139d39f076a878877d084a2b390c405d24987", "addresses":
        {"public": [{"version": 6, "addr": "2001:4801:7819:0074:aa50:10b5:ff10:f025"},
        {"version": 4, "addr": "162.209.9.183"}], "private": [{"version": 4, "addr":
        "10.178.20.244"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-25T21:47:26Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "162.209.9.183", "accessIPv6":
        "2001:4801:7819:74:aa50:10b5:ff10:f025", "progress": 100, "OS-EXT-STS:power_state":
        1, "metadata": {}}]}'
  recorded_at: Thu, 25 Jul 2013 21:52:43 GMT
- request:
    method: delete
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 204
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d50fd861-4f61-4ee9-a360-5aaaf86681da
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jul 2013 21:52:44 GMT
recorded_with: VCR 2.5.0
