---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-login>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      response-source:
      - cloud-auth
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: |
        {"access":{"token":{"id":"c8e0d8ec-c73d-48c5-9b80-548ef8f40dc4","expires":"2013-05-29T14:36:08.000-05:00","tenant":{"id":"829771","name":"829771"}},"serviceCatalog":[{"endpoints":[{"tenantId":"829771","publicURL":"https:\/\/servers.api.rackspacecloud.com\/v1.0\/829771","versionInfo":"https:\/\/servers.api.rackspacecloud.com\/v1.0","versionList":"https:\/\/servers.api.rackspacecloud.com\/","versionId":"1.0"}],"name":"cloudServers","type":"compute"},{"endpoints":[{"region":"DFW","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"},{"region":"ORD","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"}],"name":"cloudFiles","type":"object-store"},{"endpoints":[{"tenantId":"829771","publicURL[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/829771/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c8e0d8ec-c73d-48c5-9b80-548ef8f40dc4
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-0fb719cd-3ec8-4246-85a5-0c276fa1ad75
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2013-05-28T20:09:58Z",
        "hostId": "bb771e19097c2f6c7feae19a5d86527e24c34f57b31f0df46ff3cdc8", "addresses":
        {"public": [{"version": 6, "addr": "2001:4800:7810:0512:6ee9:7eb9:ff04:e242"},
        {"version": 4, "addr": "166.78.13.242"}], "private": [{"version": 4, "addr":
        "10.181.29.78"}]}, "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/829771/servers/bceb657a-a4a5-4531-9464-75abd9e6916d",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/829771/servers/bceb657a-a4a5-4531-9464-75abd9e6916d",
        "rel": "bookmark"}], "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/829771/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/829771/flavors/2",
        "rel": "bookmark"}]}, "id": "bceb657a-a4a5-4531-9464-75abd9e6916d", "user_id":
        "356537", "name": "divine-reef", "created": "2013-05-28T19:59:33Z", "tenant_id":
        "829771", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "166.78.13.242", "accessIPv6":
        "2001:4800:7810:512:6ee9:7eb9:ff04:e242", "progress": 100, "OS-EXT-STS:power_state":
        1, "metadata": {}}]}'
  recorded_at: Tue, 28 May 2013 20:16:12 GMT
- request:
    method: delete
    uri: https://dfw.servers.api.rackspacecloud.com/v2/829771/servers/bceb657a-a4a5-4531-9464-75abd9e6916d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c8e0d8ec-c73d-48c5-9b80-548ef8f40dc4
  response:
    status:
      code: 204
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-5126182b-80b0-40e1-a593-1e1c7c78347d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 May 2013 20:16:13 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/829771/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c8e0d8ec-c73d-48c5-9b80-548ef8f40dc4
  response:
    status:
      code: 401
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Jun 2013 21:44:37 GMT
recorded_with: VCR 2.5.0
