---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-07-26T16:43:37.806-05:00","tenant":{"id":"833532","name":"833532"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"SYD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudBackup","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/backup.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:backup"},{"name":"cloudBlockStorage","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/833532"}],"type":"volume"},{"name":"cloudServersOpenStack","endpoints":[{"region":"SYD","tenantId":"833532","publicURL":"https:\/\/syd.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/syd.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/syd.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/ord.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/ord.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/dfw.servers.api.rackspacecloud.com\/","version[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-ea639c37-fc93-4a70-a661-cb2922419262
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2013-07-25T21:52:25Z",
        "hostId": "4e27dd00941027b073b139d39f076a878877d084a2b390c405d24987", "addresses":
        {"public": [{"version": 6, "addr": "2001:4801:7819:0074:aa50:10b5:ff10:f025"},
        {"version": 4, "addr": "162.209.9.183"}], "private": [{"version": 4, "addr":
        "10.178.20.244"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "6a668bb8-fb5d-407a-9a89-6f957bced767",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "5f9623c2-ff6a-4f6f-a6a3-527f7b5a9fb0", "user_id":
        "10038092", "name": "silly-saffron", "created": "2013-07-25T21:47:26Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "162.209.9.183", "accessIPv6":
        "2001:4801:7819:74:aa50:10b5:ff10:f025", "progress": 100, "OS-EXT-STS:power_state":
        1, "metadata": {}}]}'
  recorded_at: Thu, 25 Jul 2013 21:52:40 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6c2a14cb-de0e-4e7c-8e15-7d21300261b4
    body:
      encoding: UTF-8
      string: '{"image": {"status": "ACTIVE", "updated": "2013-07-18T19:49:06Z", "links":
        [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "rel": "bookmark"}, {"href": "https://ord.images.api.rackspacecloud.com/833532/images/6a668bb8-fb5d-407a-9a89-6f957bced767",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "AUTO", "id": "6a668bb8-fb5d-407a-9a89-6f957bced767", "OS-EXT-IMG-SIZE:size":
        215594296, "name": "Ubuntu 12.04 LTS (Precise Pangolin)", "created": "2013-05-29T06:43:29Z",
        "minDisk": 0, "progress": 100, "minRam": 512, "metadata": {"os_distro": "ubuntu",
        "com.rackspace__1__visible_core": "0", "com.rackspace__1__options": "0", "com.rackspace__1__build_rackconnect":
        "1", "image_type": "base", "com.rackspace__1__release_build_date": "2013-05-29_01-29-24",
        "org.openstack__1__os_version": "12.04", "org.openstack__1__os_distro": "com.ubuntu",
        "cache_in_nova": "True", "com.rackspace__1__source": "kickstart", "com.rackspace__1__visible_rackconnect":
        "0", "com.rackspace__1__release_version": "3", "auto_disk_config": "True",
        "com.rackspace__1__release_id": "1003", "os_type": "linux", "com.rackspace__1__build_core":
        "1", "com.rackspace__1__visible_managed": "0", "org.openstack__1__architecture":
        "x64", "com.rackspace__1__build_managed": "1"}}}'
  recorded_at: Thu, 25 Jul 2013 21:52:42 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d31cacbd-fe80-492c-b55f-9b60511712e0
    body:
      encoding: UTF-8
      string: '{"flavor": {"name": "512MB Standard Instance", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/flavors/2",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Thu, 25 Jul 2013 21:52:42 GMT
recorded_with: VCR 2.5.0
