---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-06-28T15:57:21.042-05:00","tenant":{"id":"829771","name":"829771"}},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"},{"region":"ORD","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"},{"region":"SYD","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"},{"region":"SYD","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d"},{"region":"ORD","tenantId":"MossoCloudFS_51a1ae47-05df-400f-91cc-0a481d4ab24d","publicURL[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/829771/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-0e367e47-3656-4447-947a-ed15ab78bd97
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "BUILD", "updated": "2013-06-28T18:42:03Z",
        "hostId": "43b3dbb7bb8eff3c7d157aaf9cd3d74ddf81ef1ba139bfb5d6216b6c", "addresses":
        {"public": [{"version": 4, "addr": "166.78.105.214"}, {"version": 6, "addr":
        "2001:4801:7817:0072:6ee9:7eb9:ff10:de7f"}], "private": [{"version": 4, "addr":
        "10.177.15.235"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/829771/servers/c1b0210b-da80-4032-9de2-ba5030138ca4",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/829771/servers/c1b0210b-da80-4032-9de2-ba5030138ca4",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/829771/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "deleting", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/829771/flavors/2",
        "rel": "bookmark"}]}, "id": "c1b0210b-da80-4032-9de2-ba5030138ca4", "user_id":
        "356537", "name": "silly-saffron", "created": "2013-06-28T18:39:55Z", "tenant_id":
        "829771", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}]}'
  recorded_at: Fri, 28 Jun 2013 18:44:02 GMT
recorded_with: VCR 2.5.0
