---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"nil","password":"nil"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"unauthorized":{"code":401,"message":"Unable to authenticate user
        with credentials provided."}}'
  recorded_at: Thu, 25 Jul 2013 21:47:20 GMT
recorded_with: VCR 2.5.0
